/* fontes */
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

h1, h2, p{
    font-family: 'Oswald', sans-serif;
}

#body_index p{
    font-family: 'Oswald', sans-serif;
    color: white;
}

#body_index h1{
    font-family: 'Oswald', sans-serif;
    color: white;
}

#body_projetos p{
    font-family: 'Oswald', sans-serif;
    color: black;
}

#body_projetos h1{
    font-family: 'Oswald', sans-serif;
    color: black;
}

#body_index{
    background-color: #969696;
    background-image: url('../assets/images/backgroundphoto.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#body_index nav{
    box-shadow: none;
}

nav a:visited{
    color: black;
}

nav a:link{
    color: black;
}

#body_index nav a:visited{
    color: white;
}

#body_index nav a:link{
    color: white;
}

nav{
    display: flex;
    width: 100%;
    height: 10%;
    box-shadow: 1px -4px 16px rgba(0, 0, 0, 0.25);
}

#logonav{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin: auto 0 auto 0;
    width: 20%;
    text-align: center;
}

#logonav span{
    color: #FF7A00;

}
#menu_itens{
    display: flex;
    width: 60%;
}

#menu_itens_container p{
    margin: auto;
    text-transform: capitalize;

}

#menu_itens_container a{
    text-decoration: none;
}

#menu_itens_container{
    margin: auto;
    width: 60%;
    display: flex;
    height: 100%;
}

#container_contato{
    width: 20%;
    display: flex;
}

#container_border{
    margin: auto;
    border: solid 3px;
    border-color: #FF7A00;
    display: flex;
    width: 90%;
    height: 60%;
}

#container_border h1{
    margin: auto;
    color: #FF7A00;
    font-size: 22px;
}


/* main */


#text_container{
    width: 100%;
    height: 90%;
}

#filler{
    height: 37%;
}

#text_container h1{
    color: white;
    margin: 0;
    line-height: 74px;
    font-size: 66px;
    padding-left: 66px;
    text-transform: uppercase;

}
#text_container p{
    padding-left: 66px;
    font-size: 22px;
    line-height: 23px;
}

#text_main{
    background-color: white;
    width: fit-content;

}

/* projetos.html */

#container_projetos{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: auto;
    margin-top: 58.5px;
}

#container_projetos img{
    max-height: 300px;
}

#body_projetos section{
    height: 90%;
    width: 100%;
    display: flex;
}

.titulos{
    text-align: center;
    width: 100%;
    color: black;
    font-size: 32px;
    margin: -1px 0px 0;
}

#container_projetos a{
    text-decoration: none;
}

.form-predios {
    width: 30%;
    height: 370px;
    max-width: 300px;
    box-shadow: -1px 12px 15px rgba(0, 0, 0, 0.25);
  }

  .form-predios1 {
    width: 30%;
    height: 370px;
    max-width: 300px;
    box-shadow: -1px 12px 15px rgba(0, 0, 0, 0.25);
  }

  .form-predios2 {
    width: 30%;
    max-width: 300px;
    height: 370px;
    box-shadow: -1px 12px 15px rgba(0, 0, 0, 0.25);
  }
